%section#PersonalProjects
  %h1.huge Personal Projects

  %section.projects-container
    - data.projects.each do |proj|
      %a.project{href: proj.url, target: "_blank"}
        = image_tag "projects/"+proj.image, class: "project__image"
        %h1.project__title= proj.title
        %span.project__meta= proj.languages
