.weeklies_roll
  %h1.primary-title#Micro-projects Featured Micro Projects

  %section.projects-container
    - data.weeklies.each do |proj|
      - if proj.home
        %a.project{href: proj.url, target: "_blank"}
          = image_tag "weeklies/"+proj.image, class: "project__image"
          %h1.project__title= proj.title
          %span.project__meta= proj.date
    = link_to 'See All Micro-projects &raquo;', '/weeklies.html', :relative => true, :class => "box_link center"
