%section#writings
  %section#recent_posts
    %h1.huge Recent posts
    %div
      -# Lists out the 3 most recent blog excerpts
      - blog.articles[0...3].each do |article|
        %article.blog_excerpt.content
          %a{href: article.url}
            %h1.title
              = article.title
              %time= article.date.strftime('%b %e, %Y')
          %p.excerpt= article.data.excerpt
          %a{href: article.url}
            .arTop
            .arBot
            .arStem
