// setup
@import "bourbon"
@import "_variables"
@import "_defaults"
@import "_mixins"

// used for keeping z-index in order, calculated in sheets as 999-index
$z: topBar

// Core styles
body
  padding-top: 70px

section.box
  +block(100%, auto)
  max-width: 600px
  margin: 0px auto
  clear: both
  background: white
  &.shadow
    @extend %shadow


// GENERAL CONTENT STYLING
%content_block
  +block(auto, auto)
  font-family: $sans
  padding: 12px 20px
  +font(12,17)


// Arrow Link Buttons
$depth: 4px
a.box_link
  +block(37px, 30px)
  float: left
  border: solid $darkGrey
  border-width: 2px 2px $depth+2 2px
  position: relative
  font-family: $sans
  color: $red
  &:hover
    border-bottom-width: 2px
    cursor: pointer
  &.center
    display: inline-block
    padding: 0px 15px
    margin: 10px auto
    +font(14,30)
    float: none
    width: auto
    clear: both
    &:hover
      margin-top: 14px

a.arrow_link
  @extend a.box_link
  svg
    +block(100%,100%)
    margin-top: 5px
    margin-left: 9px

// Section header styling
h1.band
  @extend %content_block
  font-weight: $light
  text-transform: uppercase
  color: $red
  background: $nearWhite
  letter-spacing: 1px

h1.huge
  @extend %content_block
  font-weight: $light
  text-transform: uppercase
  color: $red
  background: $nearWhite
  letter-spacing: 1px
  +font(20,24)
  text-align: center
  background: none

// Genral talk styling
article.talk
  @extend %content_block
  float: left
  clear: both
  min-width: 95%
  width: auto
  h1
    display: block
    float: left
    font-family: $sans
    font-weight: $light
    +font(14,17)
    color: $red
  time
    display: block
    float: left
    +font(12,19)
    color: $darkGrey2
    margin-left: 10px
  span.location
    display: block
    float: left
    clear: both
    font-family: gerogia, serif
    font-style: italic
    color: $darkGrey
    +font(13,16)
    margin: 4px auto
  p
    display: block
    float: left
    clear: both
    width: 80%

// Groups/Activities styling
section.groups
  @extend %content_block
  float: left
  clear: both
  min-width: 95%
  width: auto
  h1
    +block(100%, auto)
    float: left
    clear: both
    +font(12,19)
    color: $darkGrey2
  p
    @extend h1
    color: black
    font-size: 14px

// tables
table
  border-collapse: collapse
  font-family: $sans
  tr
    td, th
      border: 1px solid $darkGrey
      border-style: collapse
      padding: 5px 10px


// modules
@import "includes/_header"
@import "includes/_logo"
@import "includes/_aboutWilliam"
@import "includes/_writings"
@import "includes/_projects"
@import "includes/_open_close_box"
@import "includes/_blog_post"
@import "includes/_site_footer"
