!!!
%html
  = partial "/partials/_head"
  %body
    = partial "/partials/_header"
    %section.content.box#AboutWilliam
      %section.about
        %h1 Languages, Tools, & Methods:
        %section.tools
          %h2 Everyday use
          %p Middleman, SaSS, haml, Coffeescript, PHP, MySQL, Wordpress, Git
        %section.tools
          %h2 Learning/Exploring
          %p Ruby, TDD, Kanban, OWASP practices
        %section.tools
          %h2 In the Past (out of practice)
          %p Pascal, 6502 Assembly, Actionscript 3
