!!!
%html
  = partial "/partials/_head"
  %body
    = partial "/partials/_header"

    = partial "/partials/home/_aboutWilliam"

    = partial "/partials/home/_writings"

    %section.open_close_box.box.shadow
      %h1.band
        Lectures &amp; Courses
        .plus_minus
          .div
          .div
      %p Mollit ad ut elit mollit ea laborum eiusmod commodo ad aliqua adipisicing eu qui proident. Pariatur officia pariatur reprehenderit aliqua cillum ea in ullamco consequat deserunt. Irure ullamco tempor et est nisi proident sint eiusmod laboris nulla culpa proident ullamco. Culpa laborum adipisicing quis esse reprehenderit veniam commodo aliquip. Ea sint culpa ea nostrud excepteur. Ex qui irure ad officia commodo esse incididunt ad ipsum adipisicing qui proident. Deserunt consequat ullamco velit nulla eu ex. Esse tempor deserunt nisi sint irure et commodo eu laborum sint adipisicing sint. Exercitation proident esse deserunt magna id aute exercitation exercitation magna ullamco. Consequat enim cupidatat voluptate eu velit est laborum amet do.

    %section.open_close_box.box.shadow
      %h1.band
        Lectures &amp; Courses
        .plus_minus
          .div
          .div
      %p Mollit ad ut elit mollit ea laborum eiusmod commodo ad aliqua adipisicing eu qui proident. Pariatur officia pariatur reprehenderit aliqua cillum ea in ullamco consequat deserunt. Irure ullamco tempor et est nisi proident sint eiusmod laboris nulla culpa proident ullamco. Culpa laborum adipisicing quis esse reprehenderit veniam commodo aliquip. Ea sint culpa ea nostrud excepteur. Ex qui irure ad officia commodo esse incididunt ad ipsum adipisicing qui proident. Deserunt consequat ullamco velit nulla eu ex. Esse tempor deserunt nisi sint irure et commodo eu laborum sint adipisicing sint. Exercitation proident esse deserunt magna id aute exercitation exercitation magna ullamco. Consequat enim cupidatat voluptate eu velit est laborum amet do.
