%footer.site_footer
  .wrap
    %p
      Design and Code of this site by William Anderson. Check out the source
      %a{href: "https://github.com/william-index/thewilliamanderson_com", target: "_blank"} here
      \.

    %p Many personal projects, and all professional ones were made with others.

    %p
      Contact me via email anytime:<br />
      %a{href: "mailto: thewilliamanderson@gmail.com", target: "_blank"} thewilliamanderson@gmail.com
