%header.pageHeader
  %section.topBar
    .logoBar
      %a.logo{href: "/"}
        %h1 William Anderson
        %img{src: "images/william_anderson_logo.png", alt: "William Anderson Logo"}
    %a.burger
  %nav
    - ["About William", "Blog", "Publications", "Personal Projects", "Communities &amp; Groups", "Attended Events", "Illustrations"].each do |sect|
      %a{href: "#"+sect.gsub(/(\s+|&amp;)/, "")}= sect
