$projectHeight: 84px

section#PersonalProjects
  margin: 20px auto

.projects-container
  +clearfix()
  +block(100%, auto)
  max-width: 600px
  margin: 0 auto
  padding-top: 2em
  clear: both

.project
  +block(100%, auto)
  float: left
  background: $lightGrey
  margin-bottom: 4%
  text-align: center
  padding-bottom: 1.5em
  +transition(box-shadow 0.2s)

  &:hover
    @extend %shadow

.project__image
  width: 100%
  margin-bottom: 1em

.project__title
  font-family: $sans
  font-weight: $light
  color: $red
  +font(18,24)

.project__link
  position: absolute
  top: 10px
  right: 30px
  background: white
  &:hover
    top: 14px

.project__meta
  display: inline-block
  font-family: $sans
  font-weight: $light
  color: $darkGrey
  +font(12,19)
  max-width: 60%


+mq(m)
  .project
    +block(49%, auto)
    margin-right: 2%

  .project:nth-child(2n)
    margin-right: 0
