// WRITINGS SECTION
section#writings
  display: block
  margin-top: 15px


// High Level Styles
#recent_posts
  margin-bottom: 20px
  

// Excerpt Styling
section#writings .excerpt
  display: block
  float: left
  width: 100%
  margin: 12px 0px
  position: relative
  h1
    display: block
    float: left
    clear: both
    font-family: $sans
    font-weight: $light
    padding: 5px 20px
    text-transform: none
    letter-spacing: 0px
    +font(16,17)
    time
      +font(12,17)
      color: $darkGrey2
  p
    @extend %content_block
    float: left
    clear: both
    padding: 0px 20px
    max-width: 70%
  a h1
    color: $red
    &:hover
      text-decoration: underline

  a.arrow_link
    position: absolute
    bottom: 0px
    right: 25px
