---
title: Template Test
subtitle: This is the sub title?
date: 2011/10/18
excerpt: This is a test showing all the key starting elements I need in post templates
---

%p
  Et mollit adipisicing mollit sint quis proident incididunt amet aliquip eu exercitation sunt incididunt. Sunt exercitation commodo consequat eu nostrud sint dolor cupidatat consectetur anim. Quis nulla quis sunt in ex. Consequat duis qui eiusmod pariatur sit velit elit dolor elit sunt consectetur ipsum reprehenderit. Cillum magna pariatur incididunt officia qui. Excepteur ut do non nulla aliquip.

%h2 Second level title

%p
  Et mollit adipisicing mollit sint quis proident incididunt amet aliquip eu exercitation sunt incididunt. Sunt exercitation commodo consequat eu nostrud sint dolor cupidatat consectetur anim. Quis nulla quis sunt in ex. Consequat duis qui eiusmod pariatur sit velit elit dolor elit sunt consectetur ipsum reprehenderit. Cillum magna pariatur incididunt officia qui. Excepteur ut do non nulla aliquip.

%ul
  %li list item number 1
  %li list item number 2
  %li list item number 1 list item number 1
  %li list item number 1 sdfnjsd fnjns dfjnsd jnfsfd

%h2 Another second level title about some second level topic

%h3 thats subtitle

%p
  Et mollit adipisicing mollit sint quis proident incididunt amet aliquip eu exercitation sunt incididunt. Sunt exercitation commodo consequat eu nostrud sint dolor cupidatat consectetur anim. Quis nulla quis sunt in ex. Consequat duis qui eiusmod pariatur sit velit elit dolor elit sunt consectetur ipsum reprehenderit. Cillum magna pariatur incididunt officia qui. Excepteur ut do non nulla aliquip.

%p
  Et mollit adipisicing mollit sint quis proident incididunt amet aliquip eu exercitation sunt incididunt. Sunt exercitation commodo consequat eu nostrud sint dolor cupidatat consectetur anim. Quis nulla quis sunt in ex. Consequat duis qui eiusmod pariatur sit velit elit dolor elit sunt consectetur ipsum reprehenderit. Cillum magna pariatur incididunt officia qui. Excepteur ut do non nulla aliquip.

%figure
  %img{src: "https://placekitten.com/g/300/150", alt: "placeholder"}
  %figcaption Et mollit adipisicing mollit sint quis proident incididunt amet aliquip eu exercitation sunt incididunt. Sunt exercitation commodo consequat eu nostrud sint dolor cupidatat consectetur anim. Quis nulla quis sunt in ex. Consequat duis qui eiusmod pariatur sit velit elit dolor elit sunt consectetur ipsum reprehenderit. Cillum magna pariatur incididunt officia qui. Excepteur ut do non nulla aliquip.

%p
  Et mollit adipisicing mollit sint quis proident incididunt amet aliquip eu exercitation sunt incididunt. Sunt exercitation commodo consequat eu nostrud sint dolor cupidatat consectetur anim. Quis nulla quis sunt in ex. Consequat duis qui eiusmod pariatur sit velit elit dolor elit sunt consectetur ipsum reprehenderit. Cillum magna pariatur incididunt officia qui. Excepteur ut do non nulla aliquip.

%img{src: "https://placekitten.com/g/300/150", alt: "placeholder"}
