---
title: sample blog post
date: 2011/10/18
excerpt: Multilingual websites can be tough, especially when dealing with right-to-left languages, that require not only content changes, but also visually flipping the design.
---

%p Delivering Value First 
%p Website as a means of professional development
%p Coding Intent
