---
title: William Anderson
layout: home
tools:
  everyday: Middleman, SaSS, haml, Coffeescript, PHP, MySQL, Wordpress, Git, Objective-C, Swift
  learning: Ruby, TDD, Kanban, OWASP practices
  past: Pascal, 6502 Assembly, Actionscript 3
---
